

<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="/images/logo.png" alt="logo" class="mb-3">
                    <br class="clearfix">
                    <a href="#" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="snip1472"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="snip1472"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="col-md-4">

                    <div class="card-body">
                        <h3 class="card-title">Contacts</h3>
                        <hr>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>0895070366</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span>Varna, Bulgaria</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-envelope-open ml-3"></i>
                                    <span>mitko1725@yahoo.com</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="card-body">
                        <h3 class="card-title">Privacy</h3>
                        <hr>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <div class="card-text">
                                        If you want to check our privacy policy you can do it from : <a href="Home/Privacy" style="text-decoration:solid">HERE</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">

            <div class="copyright-text text-center">
                &copy; @System.DateTime.Now.Year D.S - All Rights Reserved.
            </div>
        
        </div>
        </div>
 
</footer>