<div id="slider" class="inspiro-slider  arrows-creative dots-creative" data-height-xs="360" style="height:500px !important;">
    <!-- Slide 1 -->
    <div class="slide" data-parallax-image="images/test.jpg" style="height:500px !important;">
        <div class="container">
            <div class="slide-captions text-light text-center">
                <!-- Captions -->
                <span data-animation="fadeInUp" data-animation-delay="300" class="strong">
                    <a href="#" class="business"><span class="business">Make an oppintment for your doctor online</span></a>
                </span>
                <h1 data-animation="fadeInUp" data-animation-delay="600">MedTracker</h1>
                <div data-animation="fadeInUp" data-animation-delay="900">
                    <a class="btn btn-rounded btn-reveal btn-reveal-left" asp-area="" asp-controller="Appointments" asp-action="Index"><span>Make an appointment</span><i class="fa fa-arrow-right"></i></a>
                </div>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
</div>